* {
    margin: 0px;
    font-family: sans-serif;
    color: white;
}

body {
    background-image: url(../img/BackGround.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin: 50px 0px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company_name {
    font-size: 33px;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu_item {
    margin: 0px 15px;
    font-size: 18px;
    font-weight: 500;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-top: -100px;
        font-size: 55px;
        margin-bottom: 25px;
    }

    p {
        font-size: 27px;
        font-family: serif;
        margin-bottom: 40px;
        /* font-weight: 600; */
    }

    input {
        height: 50px;
        width: 180px;
        background-color: transparent;
        border: white 2px solid;
        border-radius: 5px;
        font-weight: 800;
        font-size: 18px;
    }
}